*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}
//header
.container .header{
     background-image: url("../images/header-bg.jpg");
     background-size: cover;
     background-attachment: fixed;
     .opacity{
          background: rgba(0,0,0,0.55);
          background-position:center;
          .spaceLogo{
               height:155px;
          }
          .logo{
               img{

               }
               display: flex;
               justify-content: center;

          }
          .headerNav{
               width: 100%;
               border-bottom: 1px solid white;
               display: flex;
               justify-content: flex-end;
               flex-direction: column;
               position: fixed;
               .navButton{
                    margin: 10px;
                    margin-left: 87vw;
                    width: 50px;
                    height: 40px;
                    background-color: lightgrey;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: right;
                    .imgHamNav{
                         width: 50%;
                         height: 50%;
                    }


               }

               .navMenu{


                    // display: none;
                    .navRow{
                         &:first-child{
                              border-top: 1px solid white;
                         }
                         padding: 20px 0 20px 0;
                         text-align: center;
                         a{
                              text-decoration: none;
                              color: white;
                         }
                    }
               }
          }
     }

}
